{
    "root": true,
    "plugins": ["@typescript-eslint"],
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:nuxt/recommended"
    ],
    "rules": {
        "indent": ["warn", 4],
        "vue/html-indent": ["warn", 4],
        "vue/script-indent": ["warn", 4],
        "func-call-spacing": "off",
        "vue/no-v-for-template-key": "off",
        "vue/no-multiple-template-root": "off",
        "comma-dangle": "off",
    }
}
