// Module for declaring allowed breakpoints
@use '@/assets/css/functions' as *;

$bp-mobile-desktop: 1024px;

$bp-min-desktop: pxToBreakpoint(breakpointMin($bp-mobile-desktop));
$bp-max-mobile: pxToBreakpoint(breakpointMax($bp-mobile-desktop));
