@use '@/assets/css/variables' as *;

@function pxToRem($px) {
    $rem: calc($px / $base-font-size) + rem;
    @return $rem;
}

@function pxToBreakpoint($px) {
    $em: calc($px / $base-font-size) + em;
    @return $em;
}

@function breakpointMin($px) {
    $min: $px;
    @return $min;
}

@function breakpointMax($px) {
    $max: $px - 0.5px;
    @return $max;
}
