html {
    line-height: normal;
    font-size: 16px;
}

body {
    font-family: var(--ff);
}

/* Project variables */
:root {
    --bg: var(--white);
    --bg-header: var(--primary-900);
    --bg-footer: var(--primary-900);
    --bg-sidebar: var(--primary-vertical);

    --text-white: var(--white);
    --text-heading: var(--primary-600);
    --text-subheading: var(--primary-600);
    --text-body: var(--primary-500);
    --text-body-light: var(--secondary-700);
}
