/* stylelint-disable value-keyword-case */
@font-face {
    font-family: Roboto;
    font-weight: 400;
    src:
        local('Roboto'),
        local('roboto'),
        local('Roboto-Regular'),
        local('roboto-regular'),
        url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Roboto;
    font-weight: 700;
    src:
        local('Roboto'),
        local('roboto'),
        local('Roboto-Bold'),
        local('roboto-bold'),
        url('@/assets/fonts/Roboto-Bold.ttf') format('truetype');
}
