@use 'sass:color' as color;
@use 'sass:map' as map;
@use 'sass:list' as list;
@use 'sass:string' as string;
@use 'variables' as *;

/// Function that find last index of substring
///
/// @param { string } string
/// @param { string } substring
/// @return { number } last index
@function string-last-index($string, $substring) {
    $index: string.index($string, $substring);
    $result: $index;
    @if $index {
        $string-length: string.length($string);
        $substring-length: string.length($substring);
        @for $i from $index + $substring-length through $string-length {
            $substring-length: string.length($substring);
            @if str-slice($string, $i, $i + $substring-length - 1) == $substring {
                $result: $i;
            }
        }
    }
    @return $result;
}

/// Function that converts color into project var color style
///
/// @param { color } color
/// @return { string } with schema "R G B"
@function color-to-var($color) {
    $red: color.red($color);
    $green: color.green($color);
    $blue: color.blue($color);
    @return #{#{$red} #{$green} #{$blue}};
}

/// Base font for caclulating px-to-rem
/// Changing base-font-size breaks styles in vue components and you shound
/// reload app for force update styles
$base-font-size: 16px;

/// Function that calculate proportion px to base-font-size
///
/// @param { px } px
/// @return { number } proportion
@function px-to-base-font-size-proportion($px) {
    @return calc($px / $base-font-size);
}

/// Function that converts px to rem values
///
/// @param { number } px
/// @return { rem } rem units
@function px-to-rem($px) {
    /* stylelint-disable-next-line length-zero-no-unit */
    @if $px == 0 { @return 0; }
    @return '#{px-to-base-font-size-proportion($px)}rem';
}

/// Function that converts list of px to list of rem
///
/// @param { px[] } list of px
/// @return { rem[] } list of rems
@function list-px-to-rem($list) {
    $result: ();
    @each $value in $list {
        $result: list.append($result, #{px-to-rem($value)});
    }
    @return $result;
}

/// Function that converts px to value for media query breakpoint
///
/// @param { number } px
/// @return { em } em units for media query
@function px-to-breakpoint($px) {
    @if $px == 0 { @return 0; }

    /* stylelint-disable-next-line order/order */
    @return '#{px-to-base-font-size-proportion($px)}em';
}

/// Function that calculate breakpoint `bounds` from px value
///
/// @param { number } px between media queries
/// @return { (start: number, end: number) } bounds of media queries in px units
@function breakpoint-px-bounds($px) {
    @return (start: $px, end: $px - 0.5px);
}

/// Function that gets `start` key from `breakpoint`
///
/// @param { (start: number, end: number) } bounds
/// @return { number } start of next from px media query
@function breakpoint-start-bound($bounds) {
    @return map.get($bounds, start);
}

/// Function that gets `end` key from `breakpoint`
///
/// @param { (start: number, end: number) } bounds
/// @return { number } end pf previos from px media query
@function breakpoint-end-bound($bounds) {
    @return map.get($bounds, end);
}

/// Function that calculate breakpoint `bounds` from px value
///
/// @param { number } px between media queries
/// @return { (start: number, end: number) } bounds of media queries in em units
@function breakpoint-bounds($px) {
    $bounds: breakpoint-px-bounds($px);
    $start: px-to-breakpoint(breakpoint-start-bound($bounds));
    $end: px-to-breakpoint(breakpoint-end-bound($bounds));
    @return (start: $start, end: $end);
}

/// Function that gets css var name from font-weight value
///
/// @param { font-weight } font-weight string value
/// @return { css-var } css var name
@function get-font-weight-css-var($font-weight) {
    $var: '--fw-#{$font-weight}';
    @return $var;
}

/// Function that gets css var name from name typography used font-size
///
/// @param { string } name typography name
/// @return { css-var } css var name
@function get-font-size-css-var($name) {
    $name-without-weight: string.slice($name, 0, string-last-index($name, '-') - 1);
    $var: '--fs-#{$name-without-weight}';
    @return $var;
}
