@use 'sass:map';

@use 'theme';
@use 'variables';
@use 'utils';
@use 'meta';

/// =========================
/// Colors and gradients
/// =========================
:root {
    @each $key, $color in theme.$colors {
        $css-var-name: utils.css-var-name(map.get(meta.$prefixes, colors), $key);

        #{$css-var-name}: utils.color-to-css-var($color);
    }

    @each $key, $color-map in theme.$shaded-colors {
        @each $shade, $color in $color-map {
            $color-name: #{$key}-#{$shade};
            $css-var-name: utils.css-var-name(map.get(meta.$prefixes, colors), $color-name);

            #{$css-var-name}: utils.color-to-css-var($color);
        }
    }

    @each $key, $gradient in variables.$gradients {
        $gradient-css-var-name: utils.css-var-name(map.get(meta.$prefixes, gradient), $key);

        $var-vertical: '#{$gradient-css-var-name}-vertical';
        $var-horizontal: '#{$gradient-css-var-name}-horizontal';

        #{$var-vertical}: linear-gradient(to bottom, $gradient);
        #{$var-horizontal}: linear-gradient(to right, $gradient);
    }
}


/// =========================
/// High level colors and gradients
/// =========================
:root {
    --bg: var(--c-white);
    --bg-header: var(--c-primary-900);
    --bg-footer: var(--c-primary-900);
    --bg-sidebar: var(--g-primary-vertical);
    --bg-kvantum-card: var(--g-kvantum-card-vertical);

    --text-heading: var(--c-primary-600);
    --text-heading-dark: var(--c-primary-900);
    --text-subheading: var(--c-primary-600);
    --text-body: var(--c-primary-600);
    --text-body-light: var(--c-secondary-700);
}
