/// Font weight
$font-weights: (
    bold: bold,
    normal: normal,
);

/// Font family
$font-family: 'Roboto',
    system-ui,
    -apple-system,
    'Segoe UI',
    helvetica,
    arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';

/// Typography
/// Values inside every typo must be equals values from breakpoints
/// Naming: Every typo must be formatted [typo-name]-[fontWeightName]
$typography: (
    logo-top-bold: (
        all: 26px,
        desktop: 32px,
    ),
    logo-bottom-bold: (
        all: 16px,
        desktop: 20px,
    ),
    h1-bold: (
        all: 40px,
        desktop: 64px,
    ),
    h2-bold: (
        all: 36px,
        desktop: 48px,
    ),
    h3-bold: (
        all: 28px,
        desktop: 32px,
    ),
    body-1-normal: (
        all: 20px,
        desktop: 24px,
    ),
    body-1-bold: (
        all: 20px,
        desktop: 24px,
    ),
    body-2-normal: (
        all: 16px,
        desktop: 20px,
    ),
    body-2-bold: (
        all: 16px,
        desktop: 20px,
    ),
    body-3-normal: (
        all: 12px,
        desktop: 16px,
    ),
);
